body {
    box-sizing: border-box;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 25%;
    margin: 0 auto;
}

form {
    padding: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #087cfc;
    border: none;
    border-radius: 0.375rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}